@import url("https://fonts.cdnfonts.com/css/cubano");
@import url("https://fonts.cdnfonts.com/css/montserrat");

:root {
  --CL-dark-blue: rgb(3, 4, 94);
  --CL-light-blue: rgb(38, 103, 255);
  --CL-white: rgb(255, 255, 255);

  --FF-cubano: "Cubano", sans-serif;
  --FF-montserrat: "Montserrat", sans-serif;

  --FS-title: clamp(1.5rem, 2rem + 1.5vw, 4rem);
  --FS-subtitle: clamp(0.9rem, 1.3rem + 1vw, 1.3rem);
  --FS-description: clamp(0.75rem, 0.75rem + 1vw, 1.15rem);
}

*,
html {
  font-size: 16px;
  box-sizing: border-box;
  transition: 0.1s;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  position: relative;
  height: 100%;
}

p {
  line-height: 1.3;
}

section {
  padding: 3rem 5vw !important;
}

a,
button {
  cursor: pointer;
}

img {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* GENERAL STYLES */

.padding-template {
  padding: 0.5rem 5vw;
}

.text-center {
  text-align: center;
}

.text-white {
  color: var(--CL-white);
}

.text-blue {
  color: var(--CL-dark-blue);
}

.title {
  font-family: var(--FF-cubano);
  font-size: var(--FS-title);
  letter-spacing: 0.07rem;
  margin: 1rem auto;
}

.display-initial {
  display: initial !important;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
  z-index: 100;
  background-color: var(--CL-white);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navbar a:first-child {
  width: min(50%, 260px);
}

.navbar a #nav-brand {
  transform: translateY(3.5%);
}

.navbar nav {
  display: flex;
  align-items: center;
}

.navbar nav #nav-toggler {
  font-size: 1.5rem;
  color: var(--CL-dark-blue);
}

.navbar nav ul {
  display: inherit;
  width: 25rem;
  justify-content: space-between;
  font-family: var(--FF-montserrat);
  font-weight: bold;
  display: none;
  list-style: none;
}

.provitional-navbar {
  position: absolute;
  top: 100%;
  transform: translateY(2.5%);
  right: 0;
  left: 0;
  background-color: var(--CL-dark-blue);
  box-shadow: 0 10px 10px rgb(0, 0, 0, 0.5);
  border-radius: 0 0 15px 15px;
  display: none;
}

.provitional-navbar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: var(--FF-montserrat);
  font-weight: bold;
  list-style: none;
  padding: 2rem 0;
  gap: 5rem;
  padding-left: 0;
}

.provitional-navbar ul li {
  width: 100%;
}

.provitional-navbar ul li a {
  text-decoration: none;
  font-size: var(--FS-description);
  color: var(--CL-white);
  text-transform: uppercase;
}

.navbar nav ul li a {
  font-size: var(--FS-description);
  text-decoration: none;
  color: var(--CL-dark-blue);
}

/* MAIN */

main {
  padding-top: calc(4rem + 0.5vh);
  display: flex;
  flex-direction: column;
  background-color: var(--CL-light-blue);
}

/* HOME SECTION */

#home {
  display: inherit;
  flex-direction: column;
}

#home .home-text h1 {
  font-family: var(--FF-cubano);
  letter-spacing: 0.1rem;
  font-size: var(--FS-title);
}

#home .home-text p {
  font-family: var(--FF-montserrat);
  margin-block: 2rem;
  font-size: var(--FS-description);
}

#home .home-text .primary-button {
  width: 50%;
  padding: 0.7rem 2rem;
  font-family: var(--FF-cubano);
  background-color: var(--CL-dark-blue);
  border: none;
  border-radius: 2rem;
  outline: 1px solid var(--CL-white);
  font-size: var(--FS-description) !important;
  max-width: 15rem;
  text-decoration: none;
}

#home .home-image img {
  border-radius: 0 1rem 0 1rem;
}

/* SERVICES SECTION */

#services {
  background-color: var(--CL-white);
  display: flex;
  flex-direction: column;
  padding-block: 2rem;
}

#services p {
  font-family: var(--FF-montserrat);
  font-size: var(--FS-description);
}

#services p strong {
  font-family: var(--FF-montserrat);
  font-size: var(--FS-description);
}

.services-content {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  justify-items: center;
  gap: 1.5rem;
}

.service-card {
  border-radius: 1rem !important;
  outline: 1px solid var(--CL-dark-blue);
  width: min(100%, 400px);
}

.service-card .card-title {
  font-size: var(--FS-description);
  font-family: var(--FF-montserrat);
  background-color: var(--CL-dark-blue);
  border-radius: 0.8rem 0.8rem 0 0;
  padding: 0.5rem;
  margin: 0;
}

.service-card .card-image {
  padding: 1.5rem;
  height: 20rem;
}

.service-card .card-description {
  font-size: var(--FS-description);
  font-family: var(--FF-montserrat);
  font-weight: 400;
  background-color: var(--CL-dark-blue);
  padding: 0.5rem;
  margin-block: 0;
  border-radius: 0 0 0.9rem 0.9rem;
}

/* CONTACTS SECTION */

#contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

#contacts div:first-child > p {
  font-size: var(--FS-description);
  font-family: var(--FF-montserrat);
}

.contacts-content {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  gap: 1rem;
  margin-top: 2rem;
}

.contact-card {
  display: inherit;
  place-content: center;
  background-color: var(--CL-dark-blue);
  border-radius: 0.8rem;
  padding: 2.5rem 2rem;
  max-width: 30rem;
  min-width: 15rem;
}

.contact-card .image-container svg {
  width: 10rem;
  height: 10vh;
  display: block;
  margin: 2rem auto;
  fill: var(--CL-white) !important;
  image-rendering: crisp-edges;
}

.contact-card .contact-title {
  text-transform: uppercase;
  font-size: var(--FS-subtitle);
  font-family: var(--FF-montserrat);
  margin: 0;
}

.contact-card .contact-description {
  font-family: var(--FF-montserrat);
  font-size: var(--FS-description);
  margin: 0.5rem 0;
}

@media (min-width: 800px) {
  .subtitle {
    max-width: 80%;
  }

  .navbar nav #nav-toggler {
    display: none;
  }

  .navbar nav ul {
    display: inherit;
  }

  .navbar nav ul li a:hover {
    color: var(--CL-light-blue);
    text-decoration: underline;
  }

  #home {
    display: inherit;
    flex-direction: row;
    align-items: center;
    text-align: initial;
    padding-bottom: 5rem inherit;
  }

  #home .home-text {
    width: 50%;
  }

  #home .home-text p {
    max-width: 75%;
  }

  #home .home-text .primary-button {
    margin-bottom: 1rem;
  }

  #home .home-text .primary-button:hover {
    background-color: var(--CL-white);
    color: var(--CL-dark-blue);
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.5);
  }

  #home .home-image {
    width: 50%;
  }

  #home .home-image img {
    height: 100%;
  }

  #services > div:first-child > p {
    margin-block: 2rem;
    max-width: 80%;
    margin-inline: auto;
  }

  .services-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
  }
}

@media (min-width: 1000px) {
  .contacts-content {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
